* {
  margin: 0;
}

$grau: rgb(128, 128, 128);

html {
  body {
    .backnav {
      height: 70px;
      background-color: rgb($grau, 0.2);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      border-bottom: $grau 4px solid;
      a {
        font-size: 2rem;
        font-weight: bolder;
        font-style: italic;
        text-decoration: none;
        cursor: pointer;
        color: #000;
      }
      svg{
        fill: $grau;
        &:hover{
            fill: #000;
        }
      }
    }
    main {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 10px;
      .newcontent {
        min-height: 200px;
        margin: 30px 0;
        border-radius: 25px;
        border: $grau 2px solid;
        h1 {
          text-align: center;
          padding: 0.5em 1.5em 0 1.5em;
          font-size: 2.5rem;
          font-style: italic;
          font-weight: bolder;
        }
        form {
          input.contentnew {
            height: 40px;
            border-radius: 50px;
            outline: none;
            border: $grau solid 2px;
            font-size: 1.8rem;
            padding: 0 1em;
            margin: 0.5em 1.5em 1.5em;
            width: calc(100% - 5em);
          }
          input.senden {
            width: 100%;
            height: 40px;
            border: none;
            border-top: 2px solid $grau;
            border-radius: 0 0 23px 23px;
            font-size: 1.5rem;
            background-color: rgb($grau, 0.25);
            cursor: pointer;
            &:hover {
              background-color: rgb($grau, 0.5);
            }
          }
        }
      }
      .content {
        .contentlinie {
          display: flex;
          justify-content: space-between;

          &:not(:first-child) {
            border-top: 2px solid $grau;
          }

          p {
            font-size: 1.5rem;
          }
          span {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            svg {
              margin: 0.5em;
            }

            a {
              text-decoration: none;

              &.loeschen {
                fill: $grau;
                &:hover {
                  fill: rgb(250, 0, 0);
                }
              }
              svg {
                height: 2em;
              }
            }
          }
        }
      }
      &.login {
        min-height: 90dvh;
        display: grid;
        place-items: center;

        form {
          display: flex;
          margin: auto;
          flex-direction: column;
          width: 100%;
          max-width: 500px;
          height: auto;
          background-color: rgb($grau, 0.2);
          border-radius: 25px;
          border: 2px $grau solid;
          div {
            width: 200px;
            height: 200px;
            margin: 20px auto;
            background-color: $grau;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              object-fit: contain;
              width: 80%;
              height: 80%;
            }
          }
          label {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            padding: 10px 5px 0 5px;
            margin: 0 0 5px 0;
            text-align: center;
            input {
              margin: 0;
              height: 35px;
              border-radius: 25px;
              border: 2px $grau solid;
              font-size: 1.5rem;
              padding: 0 15px;
              color: $grau;
              outline: none;
            }
          }
          input[type="submit"] {
            background-color: rgb($grau, 0.25);
            border: none;
            border-radius: 0 0 23px 23px;
            height: 50px;
            margin: 10px 0 0 0;
            font-size: 1.5rem;
            font-weight: bold;
            border-top: 2px $grau solid;
            cursor: pointer;
            &:hover {
              background-color: rgb($grau, 0.5);
            }
          }
        }
      }
    }
  }
}
